body {
  background-color: rgb(218, 226, 228);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 20px;
  text-align: center;
  height: 100vh;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  body > * {
    width: 400px;
    margin: auto;
  }
}
